/* Color Theme Swatches in Hex */
/*
.principal {color: #332E2C; }
.background { color: #FABF22; }
.destaque { color: #011126; }
.Arquitetura-4-hex { color: #F2E85E; }
.Arquitetura-5-hex { color: #F2AE72; }
*/

html {
    background: #FABF22;
    color: #332E2C;

    font-size: 18px;
    font-family: Helvetica, sans-serif
}
h1, h2, h3 {
    text-align: center;
}
h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary {text-align: center;}
.main p {line-height: 1.5;}
abbr {font-variant: small-caps;}


